<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{cont.template_title}}</title>
        <link rel="icon" href="img/favicon.ico" />
        <!-- JQUERY -->
        <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

        <!-- BOOTSTRAP Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- BOOTSTRAP Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <!-- BOOTSTRAP Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- JQUERY UI -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="vendor/jquery/ui/i18n/datepicker-fr.js"></script>

        <!-- DATATABLE -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

        <!-- SELECT2 -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>

        <!-- app imports -->
        <!-- CSS -->
        <link type="text/css" href="css/style.min.css" rel="stylesheet"/>
        <!-- JS -->
        <!--<script src="js/verifyForm.js"></script>
        <script src="js/tools.js"></script>-->
    </head>
    <body>
        <header>
            <div class="jumbotron">
                <span><img src="img/icone.jpg" alt="{{{cont.template_alt_icon}}}" title="version 0.0.2-SNAPSHOT" /></span>
                <h1>{{{cont.template_header}}}</h1>
            </div>
            <nav class="navbar navbar-default navbar-static-top">
                <ul id="nav-list" class="list-unstyled">
                    <li id="home" class="navbar-text navbar-center"><a href="/">{{{cont.template_nav_home}}}</a></li>
                    <li id="choice" class="navbar-text navbar-center"><a href="/createmenu">{{{cont.template_nav_choice}}}</a></li>
                </ul>
            </nav>
        </header>
        <div id="content" class="col-xs-12">
            <div id="toyost" class="col-xs-8 col-xs-offset-2">
                <span id="toyost_msg"></span>
            </div>
            {{{body}}}
        </div>
        <footer>
            <p>{{cont.template_footer}}</p>
        </footer>
    </body>
</html>
<script>
    $('#toyost').hide();
    var courseLink = "<li id=\"course\" class=\"navbar-text navbar-center\"><a href=\"/newcourse\">{{{cont.template_nav_course}}}</a></li>";
    var loginLink = "<li id=\"login\" class=\"navbar-text navbar-center\"><a href=\"/connect\">{{{cont.template_nav_login}}}</a></li>";
    var logoutLink = "<li id=\"logout\" class=\"navbar-text navbar-center\"><a href=\"/logout\">{{{cont.template_nav_logout}}}</a></li>";
    var registerLink = "<li id=\"register\" class=\"navbar-text navbar-center\"><a href=\"/register\">{{{cont.template_nav_register}}}</a></li>";
    var adminLink = "<li id=\"admin\" class=\"navbar-text navbar-center\"><a href=\"/admin\">{{{cont.template_nav_admin}}}</a></li>";
    var isCo = JSON.parse("{{isCo}}");
</script>
<script src="js/mainPage.min.js"></script>
