<div id="admin" class="container-fluid col-xs-10">
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#addIng" aria-controls="addIng" role="tab" data-toggle="tab">{{{cont.admin_titlestab_ingredient}}}</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Tab panes -->
            <form id="courseForm" action="/addingredients" class="form-horizontal" method="post">
                <div role="tabpanel" class="tab-pane active" id="addIng">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span>{{{ cont.admin_ing_title }}}</span>
                        </div>
                        <div id='ingPanel' class='panel-body'>

                        </div>
                        <div class='panel-body'>
                            <span class="btn btn-primary add-ing" onclick="addIng()">{{{ cont.admin_ing_button_add }}}</span>
                        </div>
                    </div>
                    <!-- Boutons -->
                    <div class="btn-group buttonsBar">
                        <input class="btn btn-primary" type="submit" value='{{{ cont.admin_ing_button_save }}}' />
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<script>
    var toyostObj = {};
    toyostObj.msg = "{{toyostMsg}}";
    toyostObj.timeout = "{{toyostTimeout}}";

    var selectTemplate = "";
    selectTemplate += "<div class='ingSelect'>";
        //button to del line
        selectTemplate += " <div class='btn btn-primary'>{{{ cont.course_button_rm_ing }}}</div>";

        //input text to enter the name
        selectTemplate += "<label class='courseLabel'>{{ cont.admin_ing_name }} </label>";
        selectTemplate += "<input class='ingName notNull' id='ingredients1' name='ing[name[]]'/>";

        //select to choose the catégorie
        selectTemplate += "<label class='courseLabel'>{{ cont.admin_ing_cat }} </label>";
        selectTemplate += "<select class='ingCat notNull' id='ingredients1' name='ing[cat[]]'></select>";

        //select box to choose the default unit
        selectTemplate += "<label class='courseLabel'>{{ cont.admin_ing_default_unit }} <i class='glyphicon glyphicon-question-sign tooltips-help'></i>";
            selectTemplate += "<div class='tooltips hide'>{{{ cont.admin_ing_default_unit_tooltip }}}</div>";
        selectTemplate += "</label>";
        selectTemplate += "<select required class='ingUnit notNull' name='ing[unit[]]'></select>";

    selectTemplate += "</div>";
</script>
<!--<script src="js/admin.js"></script>-->
