<div id="newcourse" class="container-fluid col-xs-10">
    <h3>{{{ cont.connect_title }}}</h3><br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span>{{{ cont.connect_heading }}}</span>
        </div>
        <form id="connectForm" action="/connect" class="form-horizontal" method="post">
            <div class="panel-body">
                <input required type="text" class="form-control col-sm-10" aria-label="..." id="connect_login" name="connect_login" placeholder="{{{ cont.connect_login_placeholder }}}" />
            </div>
            <div class="panel-body input-group add-on">
                <input type="password" class="form-control" placeholder="{{{ cont.connect_pwd_placeholder }}}" name="connect_pwd" id="connect_pwd" />
                <div class="input-group-btn">
                    <span class="btn btn-default" onclick="showPwd()"><i class="glyphicon glyphicon-eye-open"></i></span>
                </div>
            </div>
            <div class="panel-body">
                <a href="/reset">{{ cont.connect_reset_pwd }}</a>
            </div>
            <div class="btn-group buttonsBar panel-body">
                <button class="btn btn-primary" id="connexion_btn">{{{ cont.connect_button_connect }}}</button>
            </div>
        </form>
    </div>
</div>
<script>
    var toyostObj = {};
    toyostObj.msg = "{{toyostMsg}}";
    toyostObj.timeout = "{{toyostTimeout}}";
</script>
<!--<script src="js/connect.js"></script>-->
