<div id="createmenu" class="container-fluid col-xs-10">
    <h3>{{{ cont.create_title }}}</h3><br />
    <form id="menuForm" action="/menu" class="form-horizontal" method="post">
        <!-- type de régime -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>{{{ cont.create_diet }}}</span>
            </div>
            <div class="panel-body">
                <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" aria-label="..." class="diet_type" name="diet_type" value="1" />
                  </span>
                    <span class="form-control col-sm-10" aria-label="..." >{{{ cont.diet_omni }}}</span>
                </div>
                <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" aria-label="..." class="diet_type" name="diet_type" value="3" />
                  </span>
                    <span class="form-control col-sm-10" aria-label="..." >{{{ cont.diet_vegel }}}</span>
                </div>
                <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" aria-label="..." class="diet_type" name="diet_type" value="2" />
                  </span>
                    <span class="form-control col-sm-10" aria-label="..." >{{{ cont.diet_veger }}}</span>
                </div>
            </div>
        </div>
        <!-- types of courses -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>{{{ cont.create_courses_types }}}</span>
            </div>
            <div class="panel-body">
                <input type="checkbox" id="type_starter" name="type_starter" value="2" />&nbsp{{{ cont.type_starter }}} <br />
                <input type="checkbox" id="type_main_course" name="type_main_course" value="4" checked />&nbsp{{{ cont.type_main_course }}} <br />
                <input type="checkbox" id="type_dessert" name="type_dessert" value="1" />&nbsp{{{ cont.type_dessert }}}
            </div>
        </div>
        <!-- Durée du menu -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>{{{ cont.create_duration }}}</span>
            </div>
            <div class="panel-body">
                <select class="form-control col-sm-10" name="create_duration" id="create_duration">
                    <option value="7">{{{ cont.create_week }}}</option>
                    <option value="30">{{{ cont.create_month }}}</option>
                </select>
                <span>{{{ cont.create_start }}}</span>
                <input class="form-control col-sm-10" aria-label="..." id="create_start" placeholder="{{{ cont.create_start_placeholder }}}" />
                <input type='hidden' id="hidden_create_start" name="create_start" />
            </div>
        </div>
        <!-- Params -->
        <div id="params" class="panel panel-primary">
            <div class="panel-heading">
                <span>{{{ cont.create_params }}}</span>
            </div>
            <div class="panel-body">
                <span>{{{ cont.create_people_nbr }}}<input type="number" step="1" id="people_nbr" name="people_nbr" value="2" min="1" />
            </div>
        </div>
        <!-- Boutons -->
        <div class="btn-group buttonsBar">
            <a id="order_menu_btn" class="btn btn-primary">{{{ cont.create_button }}}</a>
        </div>
    </form>
</div>
<script>
    var toyostObj = {};
    toyostObj.msg = "{{toyostMsg}}";
    toyostObj.timeout = "{{toyostTimeout}}";
    var isCo = JSON.parse("{{isCo}}");

    var onlyMine = "";
    onlyMine += '<div class="panel-body">';
        onlyMine += '<input id="onlyMine" name="onlyMine" type="checkbox" /> {{{ cont.create_private }}}';
    onlyMine += '</div>';
</script>
<!--<script src="js/createmenu.js"></script>-->
