<div id="home" class="container-fluid col-xs-12">
    <div id="homeTxt" class="col-xs-6 col-xs-offset-3 lead">
        <div>{{{ cont.home_text_1 }}}</div>
        <div>{{{ cont.home_text_2 }}}</div>
        <div>{{{ cont.home_text_3 }}}</div>
        <div>{{{ cont.home_text_4 }}}</div>
        <div>{{{ cont.home_text_5 }}}</div>
    </div>
    <div id="totalRecipes" class="col-xs-6 col-xs-offset-3 text-center">
        {{{ cont.home_recipes_nbr }}} <span id="nbrRecipes">/o\</span>
    </div>
    <!-- dev a venir -->
    <div class="col-xs-6 col-xs-offset-3">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<script>
    var toyostObj = {};
    toyostObj.msg = "{{toyostMsg}}";
    toyostObj.timeout = "{{toyostTimeout}}";
</script>
<!--<script src="js/home.js"></script>-->
