<div id="menu" class="container-fluid col-xs-10">
    <div id="table">
        <table class="cell-border table-striped table-bordered">
            <thead>
                <tr>
                    <td><h4>{{ cont.menu_mon }}</h4></td>
                    <td><h4>{{ cont.menu_tue }}</h4></td>
                    <td><h4>{{ cont.menu_wed }}</h4></td>
                    <td><h4>{{ cont.menu_thu }}</h4></td>
                    <td><h4>{{ cont.menu_fri }}</h4></td>
                    <td><h4>{{ cont.menu_sat }}</h4></td>
                    <td><h4>{{ cont.menu_sun }}</h4></td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ cont.menu_list_title }}
        </div>
        <div id="list" class="panel-body">

        </div>
    </div>
</div>
<script>
    var toyostObj = {};
    toyostObj.msg = "{{toyostMsg}}";
    toyostObj.timeout = "{{toyostTimeout}}";

    //get the sended values
    var coursesArray = {{{ data.coursesArray }}};
    var ingsList = {{{ data.ingsList }}};
    var startDate = new Date("{{ data.startDate }}");

</script>
<!--<script src="js/menu.js"></script>-->
