<div id="newcourse" class="container-fluid col-xs-9">
    <h3>{{{ cont.course_title }}}</h3><br />
    <input type="checkbox" id="helpDeactivate" onclick="helpActivation(this.checked)"> {{{ cont.course_deactivate_help }}}
    <form id="courseForm" action="/addcourse" class="form-horizontal" method="post">
         <!-- Nom du plat -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>{{{ cont.course_name }}}</span>
            </div>
            <div class="panel-body courseName">
                <input rel="courseName" required class="form-control col-sm-10 focusStep" aria-label="..." id="course_name" name="course_name" placeholder="{{{ cont.course_name_placeholder }}}" />
            </div>
        </div>
        <!-- type de plat -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>{{{ cont.course_type_title }}}</span>
            </div>
            <div class="panel-body typeChoice">
                <select rel="typeChoice" name="type_choice" id="type_choice" class="selectTwo" required>
                    <option selected disabled>{{cont.course_type_title_option}}</option>
                    <option value="2">{{cont.type_starter}}</option>
                    <option value="4">{{cont.type_main_course}}</option>
                    <option value="1">{{cont.type_dessert}}</option>
                </select>
            </div>
            <!-- type de régime -->
            <div class="panel-body dietChoice">
                <div class="input-group">
                <span class="input-group-addon">
                    <input rel="dietChoice" type="radio" aria-label="..." id="diet_type-omni" class="diet_type focusStep" name="diet_type" value="1" />
                  </span>
                    <span class="form-control col-sm-10" aria-label="..." >{{{ cont.diet_omni }}}</span>
                </div>
                <div class="input-group">
                <span class="input-group-addon">
                    <input rel="dietChoice" type="radio" aria-label="..." id="diet_type-vegel" class="diet_type focusStep" name="diet_type" value="3" />
                  </span>
                    <span class="form-control col-sm-10" aria-label="..." >{{{ cont.diet_vegel }}}</span>
                </div>
                <div class="input-group">
                <span class="input-group-addon">
                    <input rel="dietChoice" type="radio" aria-label="..." id="diet_type-veger" class="diet_type focusStep" name="diet_type" value="2" />
                  </span>
                    <span class="form-control col-sm-10" aria-label="..." >{{{ cont.diet_veger }}}</span>
                </div>
            </div>
        </div>
        <!-- ingredients -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>{{{ cont.course_ing }}}</span>
            </div>
            <div id='ingPanel' class='panel-body ingName ingQtt ingUnit'>

            </div>
            <div class='panel-body'>
                <div id="addIng" class="btn btn-primary" onclick="addIngredientsLine()">{{{ cont.course_button_add_ing }}}</div>
            </div>
        </div>
        <!-- params -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>{{{ cont.course_params }}}</span>
            </div>
            <div class='panel-body paramPvt'>
                <input rel="paramPvt" class="focusStep" name="private" id="private" type="checkbox" checked /> {{{ cont.course_is_public }}}
            </div>
            <div class='panel-body portionNbr'>
                {{cont.course_portion_number}} <input type="number" step="1" rel="portionNbr" class="focusStep" id="portion_nbr" name="portion_nbr" value="1" min="1" />
            </div>
            <div class='panel-body recipeLink'>
                {{{ cont.course_recipe_link }}} <input rel="recipeLink" class="focusStep" name="course_recipe_link" id="course_recipe_link" />
            </div>
        </div>
        <!-- Boutons -->
        <div class="btn-group buttonsBar">
            <button id="createCourse" class="btn btn-primary">{{{ cont.course_button_add_course }}}</button>
        </div>
    </form>
</div>
<div id="askForNewIng" class="hide">
    <div>
        <div>{{{ cont.course_ask_for_new_ing }}}</div>
        <button rel="askIng" class="btn btn-primary focusStep" onclick="resolveAsk(0)">{{{ cont.course_ask_button_add_ing }}}</button>
        <button rel="askIng" class="btn btn-primary focusStep" onclick="resolveAsk(1)">{{{ cont.course_ask_button_go_next }}}</button>
    </div>
</div>
<div id="courseName" class="forceHide helpers col-xs-3">
    {{{ cont.course_helpers_course_name }}}
    {{{ cont.course_helpers_then_enter }}}
    {{{ cont.course_helpers_cancel }}}
</div>
<div id="typeChoice" class="forceHide helpers col-xs-3">
    {{{ cont.course_helpers_type_choice }}}
    {{{ cont.course_helpers_then_enter }}}
    {{{ cont.course_helpers_cancel }}}
</div>
<div id="dietChoice" class="forceHide helpers col-xs-3">
    {{{ cont.course_helpers_diet_type }}}
    {{{ cont.course_helpers_then_enter }}}
    {{{ cont.course_helpers_cancel }}}
</div>
<div id="ingName" class="forceHide helpers col-xs-3">
    {{{ cont.course_helpers_ingPanel1 }}}
    {{{ cont.course_helpers_cancel }}}
</div>
<div id="ingQtt" class="forceHide helpers col-xs-3">
    {{{ cont.course_helpers_ingPanel2 }}}
    {{{ cont.course_helpers_then_enter }}}
    {{{ cont.course_helpers_cancel }}}
</div>
<div id="ingUnit" class="forceHide helpers col-xs-3">
    {{{ cont.course_helpers_ingPanel3 }}}
    {{{ cont.course_helpers_cancel }}}
</div>
<div id="paramPvt" class="forceHide helpers col-xs-3">
    {{{ cont.course_helpers_private }}}
    {{{ cont.course_helpers_then_enter }}}
    {{{ cont.course_helpers_cancel }}}
</div>
<div id="portionNbr" class="forceHide helpers col-xs-3">
    {{{ cont.course_helpers_portion_nbr }}}
    {{{ cont.course_helpers_then_enter }}}
    {{{ cont.course_helpers_cancel }}}
</div>
<div id="recipeLink" class="forceHide helpers col-xs-3">
    {{{ cont.course_helpers_course_recipe_link }}}
    {{{ cont.course_helpers_then_enter }}}
    {{{ cont.course_helpers_cancel }}}
</div>

<script>
    var toyostObj = {};
    toyostObj.msg = "{{toyostMsg}}";
    toyostObj.timeout = "{{toyostTimeout}}";
    var course_required_diet = "{{cont.course_required_diet}}";
    var course_required_title = "{{cont.course_required_title}}";
    var course_required_qtt = "{{cont.course_required_qtt}}";
    var course_service_required = "{{cont.course_service_required}}";

    var selectTemplate = "";
    selectTemplate += "<div class='ingSelect'>";
        selectTemplate += "<div class='btn btn-primary'>{{{ cont.course_button_rm_ing }}}</div> ";
        selectTemplate += "<select rel='ingName' class='ingElt selectTwo ingName notNull' id='ingredients1' name='ing[0][name]'></select>";
        selectTemplate += "<label class='courseLabel'>{{ cont.course_qtt }}</label>";
        selectTemplate += "<input rel='ingQtt' required class='ingElt focusStep ingQtt notNull' type='number' name='ing[0][qtt]' />";
        selectTemplate += "<label class='courseLabel'>{{ cont.course_unity }}</label>";
        selectTemplate += "<select rel='ingUnit' required class='ingElt selectTwo ingUnit notNull' name='ing[0][unit]'></select>";
    selectTemplate += "</div>";
    console.log(selectTemplate);
</script>
<!--<script src="js/newcourses.js"></script>-->
