<div id="doResetPwd" class="container-fluid col-sm-10 col-sm-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ cont.reset_title }}
        </div>
        <div class="panel-body">
            <form id="pwdresetForm" action="/resetpwd" method="post">
                <div class="col-sm-8 col-sm-offset-2">
                    <input type="hidden"   class="form-control" id="hash"        name="hash"        required                                                             />
                    <input type="password" class="form-control" id="pwd"         name="pwd"         required placeholder="{{ cont.reset_enter_password_placeholder }}"   />
                    <input type="password" class="form-control" id="pwd_confirm" name="pwd_confirm" required placeholder="{{ cont.reset_confirm_password_placeholder }}" />
                </div>
                <div class="col-sm-8 col-sm-offset-2">
                    <a id="resetBtn" class="btn btn-primary">{{ cont.reset_send_request_button }}</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var toyostObj = {};
    toyostObj.msg = "{{toyostMsg}}";
    toyostObj.timeout = "{{toyostTimeout}}";
    var pwdDontMatch = "{{cont.reset_pwd_dont_match}}";
</script>
<!--<script src="js/pwdreset.js"></script>-->
