<div id="doResetPwd" class="container-fluid col-sm-10 col-sm-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ cont.reset_title }}
        </div>
        <div class="panel-body">
            {{cont.reset_hash_not_valid}}
        </div>
    </div>
</div>
<script>
    var toyostObj = {};
    toyostObj.msg = "{{toyostMsg}}";
    toyostObj.timeout = "{{toyostTimeout}}";
</script>
<!--<script src="js/pwdreset.js"></script>-->
