<div id="newcourse" class="container-fluid col-xs-10">
    <h3>{{{ cont.register_title }}}</h3><br />
    <form id="registerForm" action="/register" class="form-horizontal" method="post">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>{{{ cont.register_heading }}}</span>
            </div>
            <div class="panel-body">
                <input required type="text" class="form-control col-sm-10" aria-label="..." id="register_login" name="register_login" placeholder="{{{ cont.register_email_placeholder }}}" />
            </div>
            <div class="panel-body input-group add-on">
                <input type="password" class="form-control" placeholder="{{{ cont.register_pwd_placeholder }}}" name="register_pwd" id="register_pwd">
                <div class="input-group-btn">
                    <span class="btn btn-default" onclick="showPwd()"><i class="glyphicon glyphicon-eye-open"></i></span>
                </div>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control col-sm-10" aria-label="..." id="register_pseudo" name="register_pseudo" placeholder="{{{ cont.register_pseudo_placeholder }}}" />
            </div>
            <div class="panel-body">
                <input type="text" class="form-control col-sm-10" aria-label="..." id="register_diet" name="register_diet" placeholder="{{{ cont.register_diet_placeholder }}}" />
            </div>
            <div class="btn-group buttonsBar panel-body">
                <div id="register_btn" class="btn btn-primary">{{{ cont.register_button_register }}}</div>
            </div>
        </div>
    </form>
</div>
<script>
    var toyostObj = {};
    toyostObj.msg = "{{toyostMsg}}";
    toyostObj.timeout = "{{toyostTimeout}}";
</script>
<!--<script src="js/register.js"></script>-->
