<div id="resetPwd" class="container-fluid col-xs-10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ cont.reset_title }}
        </div>
        <div class="panel-body">
            <form action="/resetrequestsent" method="post">
                <div>
                    <input type="email" class="form-control col-sm-10" id="emailToReset" name="emailToReset" required placeholder="{{ cont.reset_enter_mail }}" />
                </div>
                <button id="resetBtn" class="btn btn-primary">{{ cont.reset_send_request_button }}</button>
            </form>
        </div>
    </div>
</div>
<script>
    var toyostObj = {};
    toyostObj.msg = "{{toyostMsg}}";
    toyostObj.timeout = "{{toyostTimeout}}";
</script>
