<div id="resetPwd" class="container-fluid col-xs-10">
    <div>
        {{{cont.reset_email_sent}}}
    </div>
</div>
<script>
    var toyostObj = {};
    toyostObj.msg = "{{toyostMsg}}";
    toyostObj.timeout = "{{toyostTimeout}}";
</script>
