<div id="unauthorized" class="container-fluid col-xs-10">
    <div>
        <h1>{{{cont.unauthorized_title}}}</h1>
        <p>{{{cont.unauthorized_text}}}</p>
    </div>
</div>
<script>
    var toyostObj = {};
    toyostObj.msg = "{{toyostMsg}}";
    toyostObj.timeout = "{{toyostTimeout}}";
</script>
<!--<script src="js/unauthorized.js"></script>-->
