<head>
    <style>
        div {
            text-align: center;
            font-size: 16px;
            width: 100%;
        }
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            border: 1px solid transparent;
            border-radius: 4px;
            user-select: none;
        }
        .btn-primary {
            color: #fff;
            background-color: #337ab7;
        }
    </style>
    <script>

    </script>
</head>
<body>
    <div>
        {{cont.mailing_reset_html_ask_for}}
    </div>
    <div>
        {{cont.mailing_reset_html_if_you}}
    </div>
        <a href='{{url}}'>
            <button class="btn btn-primary">
                {{cont.mailing_reset_html_reset_pwd}}
            </button>
        </a>
    <div>
        {{cont.mailing_reset_html_else_not}}
    </div>
</body>