#content {
    position: relative;
}

#toyost {
    position: absolute;
    top: 20px;
    height: 75px;
    padding-top: 20px;
    border-radius: 75px;
    background: rgba(0, 0, 0, 0.65);
    z-index: 2;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

#toyost.twoLines {
    height: 100px;
}

.jumbotron img {
    height: 100px;
    float: left;
    padding-right: 10px;
}

#totalRecipes {
    font-size: 3em;
}

#table {
    margin: 0 40px;
}

thead td {
    font-size: 1.2em;
    font-weight: bold;
}

.mealLabel {
    text-decoration: underline;
    font-weight: bold;
}

#menu {
    .panel {
        margin: 40px 20%;
    }
    .meal {
        padding-left: 20px;
    }
}

.courseLabel {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

#course_recipe_link {
    width: 100%;
}

.form-control-feedback {
    padding-top: 15px;
}

.tooltips {
    position: absolute;
    padding: 2px 5px;
    right: 15px;
    bottom: -12px;
    transform: translate(100%, 100%);
    white-space: nowrap;
    font-weight: normal;
    background-color: bisque;
    border-radius: 7px;
    z-index: 10;
}

#askForNewIng {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-body {
    position: relative;
}

.helpers {
    position: absolute;
    background-color: rgba(0, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    color: darkorchid;
    text-align: center;
    bottom: 0;
    right: -10px;
    transform: translateX(100%);
    z-index: 10;
}

#resetBtn {
    float: right;
    margin-top: 10px;
}

.forceHide {
    display: none!important;
}

#portion_nbr {
    max-width: 40px;
}

.meal.secondLine {
    margin-left: 32px;
}